{# Import the original template, required. #}
{% extends "blog.html" %}


{# Render blogs. If a marco is provided, then use the marco to render. #}
{% if render_blog is not defined %}
{% macro render_blog(title, description, time, url, pg) -%}
<div class="blog-post">

    <h3 class="blog-post-title">
        <div class="blog-post-extra"> {{ time }} </div>
        <a class="link" href="{{ url }}">{{ title }}</a>
    </h3>
    <p class="blog-post-description">
        {{ description }}
    </p>
    {% if show_tags and "tags" in pg.meta %}
        {% call render_tags(pg.meta["tags"], index_url) %}
        {% endcall %}
    {% endif %}

    <hr />
</div>
{{ caller() }}
{%- endmacro %}
{% endif %}


{# Custom css, optional. #}
{% block style %}
{{ super() }}
<style>
    .md-typeset .blog-post-description {
        margin-bottom: 0;
    }
</style>
{% endblock %}